<!DOCTYPE html>
<html>
 <head>
 <% include ./partials/head %>
 </head>
 <body>
   <header>
     <% include ./partials/header %>
   </header>
   <h1 class='center'>Andrew's Gear</h1>
   <hr />
   <div class='row'>
     <div class='col s12 m4'>
       <h3>Add Gear Item</h3>
       <form action='/gear' method='post'>
         <input type='text' name='item' placeholder='Gear Item' />
         <input type ='text' name='description' placeholder='Description' />
         <input type ='text' name='weight' placeholder='Weight' />
         <input type ='text' name='price' placeholder='Price' />
         <button class='btn btn-waves' type='submit'>Add</button>
       </form>
     </div>
     <table class='table col m8 s12'>
       <thead>
         
         <th>Item</th>
         <th>Description</th>
         <th>Weight</th>
         <th>Price</th>
         <th>Edit</th>
         <th>x</th>
       </thead>
       <tbody>
         <% gear.forEach( function(gear) { %>
             <% var url = "/gear/" + gear.id + "?_method=DELETE" %>
             <% var editUrl = "/gear/" + gear.id + "/edit" %>
           <tr>
             <td><%= gear.item %></td>
             <td><%= gear.description %></td>
             <td><%= gear.weight %></td>
             <td><%= gear.price %></td>
             <td><a class="btn" href=<%= editUrl %>>Edit</a></td>
             <td>
             <form method="POST" action=<%= url %>>
              <button class="btn red">Delete</button>
            </form>
            </td>
          </tr>
         <% }); %>
       </tbody>
     </table>
   </body>
</html>